@model IEnumerable<Proyecto1_EstebanRavazoli.Models.Cliente>

@{
    ViewData["Title"] = "Index";
}



<h1>Clientes</h1>

<form asp-controller="Cliente" asp-action="Index" method="get">
    <p>
        Id: <input type="text" name="Id" />
        <input type="submit" value="Buscar" />
    </p>
</form>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>

                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefono)
                </td>
                <td>
                    @Html.ActionLink("Editar cliente", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Proyectos", "Details", new { id = item.Id }) |
                    
                </td>
            </tr>
        }
    </tbody>
</table>